*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .firstPage {
        /* position: absolute; */
        background-color: #2C3333;
        background-image: url('/img/patternWall/peaks1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1% 0% 0.1% 0%;
        color: whitesmoke;
      }

    .secondPage {
        background-color: #0E8388;
        background-image: url('/img/patternWall/pattern1.svg');
        
        padding: 5% 1% 1% 1%;
    }

    #picMe {
        padding: 2%;
        border-radius: 50%;
        background: #2E4F4F;
        box-shadow:  20px 20px 60px #243e3e,
                    -20px -20px 60px #386060;
                }

        .aboutHero {
        background-color: #2E4F4F;
        padding: 1% 15% 1% 15%;
        }

    .thirdPage {
        background-color: #2E4F4F;
        background-image: url('/img/patternWall/waves1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1% 1% 1% 1%;
    }

        .projectTitle {
            background-color: #2E4F4F;

            padding: 5% 1% 1% 1%;
            border-radius: 5px;
        }

        .projectCont {
            border-radius: 29px;
            background: #2E4F4F;
            box-shadow:  7px 7px 33px #084d50,
                        -7px -7px 33px #14b9c0;
            padding: 3%;
        }

        .projectEl {
            background-color: #2C3333;
            padding: 6%;
            text-align: center;
            border-radius: 10px;
        }

            #seemore {
                padding: 4%;
            }

    
    .fourthPage {
        background-color: #2C3333;
        background-image: url('/img/patternWall/pattern8.svg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1% 1% 1% 1%;
    }

        .aboutMeLast {
            border-radius: 20px;
            background: linear-gradient(145deg, #2f3737, #282e2e);



            padding: 1% 5% 1% 5%;
        }
    
    .endPage {
        background-color: #2C3333;
        
        color: whitesmoke;
        padding: 10% 0% 2% 0%;
    }